<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="/static/img/favicon.ico">
    <link rel="stylesheet" href="/static/css/style.css">
    {% comment %} <link rel="stylesheet" href="{% static 'django_table_sort.css' %}"/> {% endcomment %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css" integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A==" crossorigin="anonymous" referrerpolicy="no-referrer" />

    <title>
    {% block title %}
    {% endblock %}      
    </title>
</head>
<body>
    {% comment %} Navbar {% endcomment %}
    <nav class="navbar navbar-expand-lg bg-light">
        <div class="container-fluid d-flex">
            <a class="navbar-brand" href="/">Watchlist Analyzer</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/dashboard">Dashboard</a>
                    </li>
                    <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Dropdown
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="#">Action</a></li>
                        <li><a class="dropdown-item" href="#">Another action</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Something else here</a></li>
                    </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/profile">Profile</a>
                    </li>
                </ul>
                {% comment %} 
                    Need to pass keyboard input to python function in views.py
                    url 'stockdetails' symbol=searchsymbol|default:'UWMC'
                    Symbol resorts to default every time.

                    url 'stockdetails' symbol=searchsymbol 
                    Do not load at all. 
                    Reverse for 'stockdetails' with keyword arguments '{'symbol': ''}' not found. 1 pattern(s) tried: ['(?P<symbol>[^/]+)/\\Z']
                    searchsymbol|join:symbol - didnt work
                {% endcomment %}
                <form action="{% url 'stockdetails' symbol=searchsymbol|default:'UWMC' %}" method="POST" class="d-flex">
                    {% csrf_token %}
                    <input type="text" name="searchsymbol" id="searchsymbol" class="form-control me-2" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Submit</button>
                </form>
            </div>
        </div>
    </nav>
    {% comment %} Back & Home Button {% endcomment %}
    <div class="mt-5">
        {% comment %} <form class="m-3" action="{% url 'home' %}" method="POST">
        {% csrf_token %}
            <div class="btn btn-primary" onclick="history.back()" value="Go Back">Go Back</div>
            <input class="btn btn-primary" type="submit" value="Home" />
        </form> {% endcomment %}

        {% block content %}{% endblock content %}
    </div>

    {% comment %} Footer {% endcomment %}
    <div class="m-5 text-center">
        <hr>
        <a href="/">Home</a> | <a href="/dashboard">Dashboard</a> | <a href="/profile">Profile</a>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
    {% comment %} Initialize Tooltips {% endcomment %}
    <script> 
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
          return new bootstrap.Tooltip(tooltipTriggerEl)
        });
    </script>
</body>
</html>