{% extends 'base.html' %}

{% load mathfilters %}
{% load humanize %}

{% block title %}
    Dashboard
{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="flex flex-wrap p-3 justify-content-center"> 
    <div class="w-full text-center p-3">
        {{ watchlist.1.previous_date }}
    </div>
    <div class="overflow-x-auto m-auto rounded text-center">
        <table class="table-auto">
            <thead class="text-white bg-black">
                <tr>
                    <th class="px-4 py-2 w-3">Symbol</th>
                    <th class="px-4 py-2 w-3">Price</th>
                    <th class="px-4 py-2 w-3">Div.$</th>
                    <th class="px-4 py-2 w-3">Freq.</th>
                    <th class="px-4 py-2 w-3">Amount for dividend to buy 1 share</th>
                    <th class="px-4 py-2 w-3">Amount for dividend to buy 5 shares</th>
                    <th class="px-4 py-2 w-3">Shares for $1000 dividend</th>
                    <th class="px-4 py-2 w-3">Amount for $1000 dividend</th>
                    <th class="px-4 py-2 w-3">Years to Double investment (R*t=72)</th>
                </tr>
            </thead>
            <tbody class="text-gray-700">
            {% for stock in watchlist %}
                <tr>
                    <td class="border px-4 py-2 w-3 text-center"><a href="{% url 'stockdetails' symbol=stock.symbol %}" class="text-blue-500 hover:underline">{{ stock.symbol }}</a></td>
                    <td class="border px-4 py-2 w-3">{{ stock.closep }}</td>
                    <td class="border px-4 py-2 w-3">{{ stock.cash_amount }}</td>
                    <td class="border px-4 py-2 w-3 text-center">{{ stock.divfrequency }}</td>
                    <td class="border px-4 py-2 w-3 text-right">{{ stock.closep|div:stock.cash_amount|floatformat:2|intcomma }}</td>
                    <td class="border px-4 py-2 w-3 text-right">{{ stock.closep|div:stock.cash_amount|mul:5|floatformat:2|intcomma }}</td>
                    {% with annualdiv=stock.cash_amount|mul:stock.divfrequency|floatformat:2 %}
                    <td class="border px-4 py-2 w-3 text-center">{{ 1000|div:annualdiv|floatformat:0 }}</td>
                        {% with shares1000=1000|div:annualdiv|floatformat:0 %}
                            <td class="border px-4 py-2 w-3 text-right">{{ stock.closep|mul:shares1000|floatformat:0|intcomma }}</td>
                        {% endwith %}
                    {% endwith %}
                    {% with annualdivpercent=stock.cash_amount|div:stock.closep|mul:100|floatformat:2 %}
                    <td class="border px-4 py-2 w-3 text-right">{{ 72|div:annualdivpercent|div:100|floatformat:2 }}</td>
                    {% endwith %}
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock content %}
