{% extends 'base.html' %}

{% block title %}
    Dashboard
{% endblock %}

 {% comment %} Specific CSS goes HERE {% endcomment %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container"> 
    <div class="row">
        <div class="col">
            <h1>Dashboard</h1>
        </div>
        <div class="col d-flex justify-content-end">
            <a class="btn btn-primary m-3 me-0" href="{% url 'loadpolygondata' %}" data-bs-toggle="tooltip" 
                data-bs-placement="bottom" 
                data-bs-title="Delete all stocks in database and fetch most recent details from Polygon API. This will take several minutes.">
                Update Database <i class="bi bi-arrow-clockwise "></i> </a>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table sortable">
            <tr class="bg-black text-white">
                <td class="col text-center"><b>Symbol</b></td>
                <td class="col"><b>Price $</b></td>
                <td class="col"><b>Previous Date</b></td>
                <td class="col"><b>Dividend $</b></td>
                <td class="col-1 text-center"><b>Freq.</b></td>
                <td class="col"><b>Pay Date</b></td>
                <td class="col"><b>Declaration</b></td>
                <td class="col"><b>Ex Date</b></td>
            </tr>
            {% for stock in watchlist %}
            <tr style="border: 1px;">
                <td class="text-center"><a href="{% url 'stockdetails' symbol=stock.symbol %}">{{ stock.symbol }}</a></td>
                <td>{{ stock.closep }}</td>
                <td>{{ stock.previous_date }}</td>
                <td>{{ stock.cash_amount }}</td>
                <td class="text-center">{{ stock.divfrequency }}</td>
                <td>{{ stock.pay_date }}</td>
                <td>{{ stock.declaration_date }}</td>
                <td>{{ stock.ex_dividend_date }}</td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>
{% endblock content %}