{% extends 'base.html' %}

{% block title %}
    Home
{% endblock %}

 {% comment %} Specific CSS goes HERE {% endcomment %}
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="container"> 
    <div class="row m-3">
        <div class="col-md-3 col-sm-3"> 
                <h6>WHAT WE DO</h6>
                <h2>Generate passive income identifying the best investment in your watchlist.</h2>
                <hr height="5px"style="height:5px;"/>
                <ul class="mb-5">
                    <li><a href="/">Home</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/profile">Profile</a></li>
                    <li><a href="{% url 'stockdetails' symbol='AAPL' %}">Example: Apple Inc.</a></li>
                    <li><a href="{% url 'loadpolygondata' %}" data-bs-toggle="tooltip" 
                        data-bs-placement="bottom" 
                        data-bs-title="Delete all stocks in database and fetch most recent details from Polygon API. This will take several minutes.">
                        Update Database</a></li>    
                </ul>
        </div>
        <div class="col">
            <div class="row">
                {% for stock in stocks %}
                <div class="col"> 
                    <strong style="font-size: 24px;"><a class="btn btn-outline-secondary w-100" href="{% url 'stockdetails' symbol=stock.symbol %}">{{ stock.symbol }}</a></strong>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Previous Close</td>
                            <td>{{ stock.closep }}</td>
                        </tr>
                        <tr>
                            <td>Previous Date</td>
                            <td>{{ stock.previous_date }}</td>
                        </tr>
                        <tr>
                            <td>Dividend($)</td>
                            <td>{{ stock.cash_amount }}</td>
                        </tr>
                        <tr>
                            <td>Dividend Freq.</td>
                            <td>{{ stock.divfrequency }}</td>
                        </tr>
                        <tr>
                            <td>Dividend Payout</td>
                            <td>{{ stock.pay_date }}</td>
                        </tr>
                        <tr>
                            <td>Dividends Decl.</td>
                            <td>{{ stock.declaration_date }}</td>
                        </tr>
                        <tr>
                            <td>Prev. Dividend</td>
                            <td>{{ stock.ex_dividend_date }}</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock content %}