{% extends 'base.html' %}

{% block title %}
    Profile
{% endblock %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="flex flex-wrap justify-center p-5"> 
    <div class="w-full md:w-4/5 lg:w-3/4 xl:w-2/3 bg-white rounded-lg shadow-lg p-5 md:p-10">
        <div class="md:flex items-center -mx-3">
            <div class="md:w-1/3 px-3 mb-6 md:mb-0">
                <div class="w-32 h-32 mx-auto">
                    <img class="w-full h-full rounded-full" src="https://carlaheywood.com/assets/img/CarlaHeywood-AboutMe.jpg" alt="Carla Heywood">
                </div>
                <h2 class="text-center text-xl font-semibold text-gray-800 mt-3">Carla Heywood</h2>
                <p class="text-center text-sm text-gray-500">carlaheywood.com</p>
                <p class="text-center text-sm text-gray-500">United States</p>
            </div>
            <div class="md:w-2/3 px-3">
                <h3 class="text-lg font-semibold text-gray-800 border-b pb-2">Account Details</h3>
                <div class="mt-4 space-y-4">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="First name" value="Carla">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="Last name" value="Heywood">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="Email" value="carla@example.com">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="Phone number" value="+18001234567">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="Address" value="123 Bikini Bottom">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="Country" value="CA, USA">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="GitHub" value="https://github.com/CarlaHeywood">
                    <input class="w-full p-2 border border-gray-200 rounded-md" type="text" placeholder="LeetCode" value="https://leetcode.com/CarlaHeywood/">
                </div>
                <div class="mt-6 text-right">
                    <button class="px-6 py-2 rounded bg-blue-600 text-white focus:outline-none hover:bg-blue-700">Save Profile</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
