/**
* Name: Watchlist Analyzer
* URL: localhost
* Author: Carla Heywood
* Copyright 2023
*/

/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/
html {
    position: absolute;
    width:100%;
    overflow: hidden;
}
body {
    width: 100%;
    -webkit-overflow-scrolling: initial;
}